*{
    margin: 0 auto;
    padding: 0 auto;
    font-size: 100%;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
#container{
    width: 100%;
    font-family: 'Muli', sans-serif;
    background-color: ghostwhite;
}
/* .f-nav{
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
} */

@media screen and (min-width:320px){
    header{
        width: 100%;
        height: 130px;
        text-align: center;
        background-color: #282828;
    } 
    nav a{
        text-decoration: none;
        padding: 15px;
        font-size: 1em;
        color: #fff;
        font-family: 'Muli', sans-serif;
    }
    nav a:hover{
        color: #d05a20;
        transition: 0.3s;
        border-bottom: 2px #fff solid;
    }
    #introducao{
        width: 100%;
        height: 250px;
        padding-top: 50px; 
        text-align: center;
        background-color: #282828;
    }
    #introducao a{
        text-decoration: none;
    }
    #introducao h1{
        font-size: 2em;
        color: #fff;
    }
    #introducao h2{
        font-size: 1.4em;
        color: #fff;
    }
    #introducao p{
        cursor: pointer;
        margin-top: 30px;
        font-size: 1.2em;
        color: #fff;
        text-decoration: none;
    }
    #introducao p:hover{
        color:#d05a20;
        transition: 0.5s;
    }
    #typewriter{
        width: 100%;
        font-size: 3.5em;
        color: #fff;
        text-align: center;
        padding-top:130px;
    }
    #servicos{
        width: 100%;
        height: 950px;
        text-align: center;
        background-color: ghostwhite;
    }  
    #servicos h1{
        font-size: 2em;
        padding-top: 30px;
        color: #282828;
    }
    #servicos h2{
        font-size: 1.5em;
        padding-top: 10px;
        color: #282828;
    }
    #servicos p{
        font-size: 1em;
        padding-top: 10px;
        color: #282828;
    }
    .servicos{
        margin-top: 20px;
        width: 100%;
        padding: 20px 50px;
    }
    #portfolio{
        width: 100%;
        height: 1200px;
        padding: 0 15%;
        background-color: #282828;
        text-align: center;
    }
    #portfolio h1{
        font-size: 2em;
        color:#fff;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .box{
        width:100%;    
        height: 250px;
        margin-top: 20px;
        background-color: black;
    }
    .sobre{
        width: 100%;
        height: 60px;
        background-color: #d05a20;
    }
    .sobre:hover{
        background-color: #FF6E27;
        transition: 0.5s;
        cursor: pointer;
    }
    .sobre h1{
        font-size: 1.6em;
        color:#fff;
        text-align: center;
        padding: 15px;
    }
    .sobre a{
        text-decoration: none;
    }
    #contato{
        width: 100%;
        height: 550px;
        padding: 25px;
        background-color:  ghostwhite;
        text-align: center;
    }
    #contato h1{
        font-size: 2em;
        text-align: center;
        padding-bottom: 40px;
        color: #282828;
    }
            form{
                width: 80%;
                margin-bottom: 30px;
            }
            input[type=text],[type=email] {
                width:100%;
                border:0;
                padding:15px;
                font-family: 'Muli', sans-serif;
                background-color:#fff;
                border-radius: 3px;
                border: #ccc solid 1px;
                margin-bottom: 8px;
            }
            textarea {
                width:100%;
                height:80px;
                border:0;
                font-family: 'Muli', sans-serif;
                padding:15px;
                color:#000;
                background-color:#fff;
                border-radius: 3px;
                border: #ccc solid 1px;
            }
            input[type=submit] {
                border:0;
                padding:15px;
                background-color:#d05a20;
                border-radius: 2px;
                color:#FFF;
                -webkit-transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                transition-duration: 0.5s;
            }
            input:hover[type=submit] {
                background-color:#FF6E27;
                color:#fff;
                cursor: pointer;
            }
            input:required:valid {
                border: green solid 1px;
            }
            .mail {
                font-size: 1.2em;
                text-decoration: none;
                color: #282828;
            }
            .mail:hover{
                border-bottom:  1px #FF6E27 dashed;
                transition: 0.3s;
                color: #FF6E27;
            }
            .social-media{
                margin-top: 20px;
            }
            .social-media i{
                color: #282828;
                padding: 8px;
            }
            .social-media i:hover{
                color: #d05a20;
                transition: 0.3s;
            }
            footer{
                width: 100%;
                height: 60px;
                background-color: #282828;
            }
            footer p{
                color:#fff;
                text-align: center;
                padding-top: 20px;
            }
            footer a{
                text-decoration: none;
                color:#fff;
            }
            footer a:hover{
                color:#d05a20;
                transition: 0.3s;
            }
    }
    @media screen and (min-width:480px){}

    @media screen and (min-width:768px){}

    @media screen and (min-width:1024px){
        #hamburger{
            display: none;
        }
        header{
        width: 100%;
        height: 100px;
        background-color: #282828;
        } 
        header img{
        float: left;
        margin:7px 0px 0px 30px;
        }
        nav{
            float: right;
            margin:37px;
        }  
        nav a{
        text-decoration: none;
        padding: 15px;
        font-size: 1em;
        color: #fff;
        font-family: 'Muli', sans-serif;
        }
        nav a:hover{
        color: #d05a20;
        transition: 0.3s;
        border-bottom: 2px #fff solid;
        }
        #line{
            text-align: center;
            background-color: #d05a20;
            height: 5px;
            width: 10%;
            margin-bottom: 30px;
            margin-top: 5px;
        }
    #introducao{
        width: 100%;
        height: 600px;
        padding: 200px 0px 0px 0px; 
        text-align: center;
        }
        #introducao a{
            text-decoration: none;
        }
        #introducao h1{
            animation-name: fadeInDown;
            font-size: 3.5em;
            color: #fff;
        }
        #introducao h2{
            padding-top: 10px;
            font-size: 1.3em;
            color: #fff;
        }
        #introducao p{
            cursor: pointer;
            margin-top: 30px;
            font-size: 1.2em;
            color: #fff;
            text-decoration: none;
        }
        #introducao p:hover{
            color:#d05a20;
            transition: 0.5s;
        }
        #typewriter{
            width: 100%;
            font-size: 3.5em;
            color: #fff;
            text-align: center;
            padding-top:130px;
        }
        #servicos{
            width: 100%;
            height: 670px;
            text-align: center;
            background-color: ghostwhite;
        }  
    #servicos h1{
        font-size: 2.2em;
        padding-top: 50px;
        color: #282828;
    }
    #servicos h2{
        font-size: 1.5em;
        padding-top: 10px;
        color: #282828;
    }
    #servicos p{
        font-size: 1em;
        padding-top: 10px;
        color: #282828;
    }
    .servicos{
        margin-top: 80px;
        width: 33.33%;
        float: left;
        padding: 50px;
    }
        #portfolio{
            width: 100%;
            height: 700px;
            background-color: #282828;
            text-align: center;
            margin-top: -1px;
    }
        #portfolio h1{
            font-size: 2.2em;
            color:#fff;
            padding-top: 40px;
            padding-bottom: 0px;
        }
    .box{
        width:46%;    
        height: 250px;
        margin: 2% 2%;
        background-color: black;
        float: left;
    }
        .sobre{
            width: 100%;
            height: 60px;
            background-color: #d05a20;
        }
        .sobre:hover{
            background-color: #FF6E27;
            transition: 0.5s;
        }
        .sobre h1{
            font-size: 1.6em;
            color:#fff;
            text-align: center;
            padding: 14px;
        }
        .sobre a {
            text-decoration: none;
        }
        #contato{
            width: 100%;
            height: 550px;
            padding: 35px;
            background-color:  ghostwhite;
            text-align: center;
        }
        #contato h1{
            font-size: 2.2em;
            text-align: center;
            padding-bottom: 0px;
            color: #282828;
        }
        form{
            width: 50%;
            margin-bottom: 30px;
        }
        input[type=text],[type=email] {
            width:100%;
            border:0;
            padding:15px;
            font-family: 'Muli', sans-serif;
            background-color:#fff;
            border-radius: 3px;
            border: #ccc solid 1px;
            margin-top: 8px;
        }
        input[type=submit] {
            border:0;
            padding:15px;
            background-color:#d05a20;
            border-radius: 2px;
            color:#FFF;
            -webkit-transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
        }
        input:hover[type=submit] {
            background-color:#FF6E27;
            color:#fff;
            cursor: pointer;
        }
        textarea{
            width:100%;
            height:80px;
            border:0;
            font-family: 'Muli', sans-serif;
            padding:15px;
            color:#000;
            background-color:#fff;
            border-radius: 3px;
            border: #ccc solid 1px;
            margin-top: 8px;
        }
        input:required:valid {
            border: green solid 1px;
        }
        .mail {
            font-size: 1.2em;
            text-decoration: none;
            color: #282828;
        }
        .mail:hover{
            border-bottom:  1px #FF6E27 dashed;
            transition: 0.3s;
            color: #FF6E27;
        }
        .social-media{
            margin-top: 20px;
        }
        .social-media i{
            color: #282828;
            padding: 8px;
        }
        .social-media i:hover{
            color: #d05a20;
            transition: 0.3s;
        }
        footer{
            width: 100%;
            height: 60px;
            background-color: #282828;
        }
        footer p{
            color:#fff;
            text-align: center;
            padding-top: 20px;
        }
        footer a{
            text-decoration: none;
            color:#fff;
        }
        footer a:hover{
            color:#d05a20;
            transition: 0.3s;
        }
    }
    @media screen and (min-width:1260px){
        .box{
            width:42%;    
            height: 250px;
            margin: 2% 4%;
            background-color: black;
            float: left;
        }
        .servicos{
            margin-top: 60px;
            width: 33.33%;
            float: left;
            padding: 50px;
        }
    }
    